source/map/
source/obj/
setup/SetupBuilder/Kwik Source Search.dbg
setup/SetupBuilder/Kwik Source Search.dbg
setup/SetupKSSOpen.csv
setup/SetupKSSOpen.exe
setup/SetupKSSOpen.htm
source/KSSOpen.sln.cache
